:root {
  font-family: sans-serif;
  color: white;
  background-color: rgb(18, 18, 18);
}
body {
  width: 100vh;
  margin: auto;
}
.container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.star-container {
  display: flex;
  gap: 8px;
}
.star {
  font-size: 30px;
  cursor: pointer;
}
.hover {
  color: gold;
}
.active {
  color: orange;
}
p {
  font-size: large;
}
